#title {
	margin-left: 25%;
	width: 50%;
	text-align: center;
	font-size: 24pt;
	background-color:  pink;
}

#belly {
	width: 45em;
	height: auto;
	background-color: maroon;
	font-size: 15pt;
	color: pink;
	position: absolute;
	left: 25.5em;
}

.tile {
	background-color:  lightgray;
	width:  1em;
	height:  1em;
}

.tileW {
	margin: -2.5px;
	background-image: url(resources/snekStraight.svg);
}

#tileHead {
	background-image: url(resources/snekHead.svg);
}

#tileTail {
	margin: -2.5px;
	background-image: url(resources/snekTail.svg);
}

.tileBelly {
	display: block;
	float: left;
	width: 2em;
	height: 2em;
	line-height: 2em;
	background-color: gray;
	color: white;
	margin: 10px;
	text-align: center;

}

#gameContainer {
	display:  grid;
	grid-gap:  5px;
	grid-template-columns: repeat(25, 1vw);
	text-align:  center;
	padding: auto;

	position: absolute;
    top: 10em;
    left: 38%;
}