#title {
	margin-left: 25%;
	width: 50%;
	text-align: center;
	font-size: 24pt;
	background-color:  pink;
}

.tile {
	background-color:  pink;
	width:  1em;
	height:  1em;
}

#gameContainer {
	display:  grid;
	grid-gap:  5px;
	grid-template-columns: repeat(25, 15px);
	text-align:  center;
	padding: auto;

	 position: absolute;
    top: 10em;
    left: 45em;
}